<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
    <display-name>gestionbuvettev2</display-name>
  
  <servlet>
    <servlet-name>CreationUtilisateurServlet</servlet-name>
    <servlet-class>servlets.CreationUtilisateurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationMenuServlet</servlet-name>
    <servlet-class>servlets.CreationMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Stat</servlet-name>
    <servlet-class>servlets.Stat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>servlets.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationUtilisateurServlet</servlet-name>
    <servlet-class>servlets.ModificationUtilisateurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationMenuServlet</servlet-name>
    <servlet-class>servlets.ModificationMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterfaceClientServlet</servlet-name>
    <servlet-class>servlets.InterfaceClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterfaceAdminServlet</servlet-name>
    <servlet-class>servlets.InterfaceAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TouteCommande</servlet-name>
    <servlet-class>servlets.TouteCommande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommandeUtilisateur</servlet-name>
    <servlet-class>servlets.CommandeUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationUtilisateurServlet</servlet-name>
    <url-pattern>/creationUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationMenuServlet</servlet-name>
    <url-pattern>/creationMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/authentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationUtilisateurServlet</servlet-name>
    <url-pattern>/modificationUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterfaceClientServlet</servlet-name>
    <url-pattern>/interfaceClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterfaceAdminServlet</servlet-name>
    <url-pattern>/interfaceAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationMenuServlet</servlet-name>
    <url-pattern>/modificationMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommandeUtilisateur</servlet-name>
    <url-pattern>/commandeUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TouteCommande</servlet-name>
    <url-pattern>/toutecommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Stat</servlet-name>
    <url-pattern>/stat</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern> *.jsp</url-pattern>
      <include-prelude> /WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>